<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7cbad">  <td>17/08/15 15:33:53</td>   <td>0</td> <td title="&gt;&gt;GenerateExtentReports.startReport()[pri:0, instance:testBMS.StartApplication@548e7350]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>17/08/15 15:33:53</td>   <td>170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StartApplication.beforeMethod()[pri:0, instance:testBMS.StartApplication@548e7350]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>17/08/15 15:34:22</td>   <td>29270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartApplication.launchApp()[pri:0, instance:testBMS.StartApplication@548e7350]">launchApp</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>17/08/15 15:34:22</td>   <td>29608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GenerateExtentReports.getResult(org.testng.ITestResult)[pri:0, instance:testBMS.StartApplication@548e7350]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>17/08/15 15:34:22</td>   <td>29715</td> <td title="&lt;&lt;GenerateExtentReports.tearDown()[pri:0, instance:testBMS.StartApplication@548e7350]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
</table>
