<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a097cc">  <td>17/08/09 15:44:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StartApplication.beforeMethod()[pri:0, instance:testBMS.StartApplication@51565ec2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/08/09 15:44:27</td>   <td>21186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GenerateExtentReports.getResult(org.testng.ITestResult)[pri:0, instance:testBMS.StartApplication@51565ec2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>17/08/09 15:44:27</td>   <td>21101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartApplication.launchApp()[pri:0, instance:testBMS.StartApplication@51565ec2]">launchApp</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/08/09 15:44:05</td>   <td>-196</td> <td title="&gt;&gt;GenerateExtentReports.startReport()[pri:0, instance:testBMS.StartApplication@51565ec2]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
</table>
